# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# nuitka created folders
*.build/
*.dist/
*.onefile-build/

# pycache?
__pycache__/

# Vscode settings
.vscode/